<?xml version="1.0" encoding="utf-8"?>
<!-- 
//==============================
//  ModEnhancement Enable: Activate the system to make the modifications.
//		PercentIncrease: Enable or Disable 0/1 | Increments the % value of the attribute in MonsterList.xml 
//		PercentDecrease: Enable or Disable 0/1 | Reduces the % value of the attribute in MonsterList.xml 
//		MonsterPercentChange: Values from 0 - 100 expresed in %
//
//  MonsterLevelSetting Enable: Enable or Disable the modification by Level ranges [0-1] 
//  	MonsterMinLevel: Minimum Monster Level
//  	MonsterMaxLevel: Maximum Monster Level
//
//  MonsterIndexSetting Enable: Enable or Disable the modification by Index ranges [0-1].
//  	MonsterMinIndex: Minimum Index Monster 
//  	MonsterMaxIndex: Maximum Index Monster 
//
//  MonsterMapSetting Enable: Enable or Disable modification of Monsters for specific maps. [0-1].
//  	MapToChange List: Write the Map Number or Multiple maps, separated by commas (,).
//  	Description: This option enables the possibility of modifying "All" Mobs that are already on the maps.
//  	Ref: See MonsterSpawn.xml
//
//  ExcludeMobsSetting:
//  	MobsToExclude NPCList: Write the NPC Index to exclude separated by commas (,).
//  	MobsToExclude MobsList: Write the Mobs Index to exclude separated by commas (,).
//==============================
// 
-->
<ModEnhancement Enable="1" PercentIncrease="0" PercentDecrease="1" MonsterPercentChange="50">
	
	<!-- Min/Max Mobs Level Modification  -->
	<MonsterLevelSetting Enable="0" MonsterMinLevel="10" MonsterMaxLevel="200" />

	<!-- Min/Max Mobs Index Modification  -->
	<MonsterIndexSetting Enable="0" MonsterMinIndex="794" MonsterMaxIndex="794" />
	
	<MonsterMapSetting Enable="1">
	<!-- MapNumber List  -->
		<MapToChange List="0" />
	</MonsterMapSetting>

	<ExcludeMobsSetting>
	<!-- NPC List to Exclude  -->
		<MobsToExclude NPCList="226,240,249,257,375,543,547,584,764" />

	<!-- Mobs List to Exclude  -->
		<MobsToExclude MobsList="" /> 
	</ExcludeMobsSetting>

	<!-- Enable or Disable Attr to change on MonsterList.xml  -->
	<MonsterListMod>
		<Monster 
			HP="1" 
			MP="0" 
			DamageMin="1" 
			DamageMax="1" 
			ExtraDamageMin="0" 
			ExtraDamageMax="0" 
			Defense="1" 
			MagicDefense="0" 
			ExtraDefense="0" 
			AttackRate="0" 
			BlockRate="0" 
			MoveRange="0" 
			AttackType="0" 
			AttackRange="0" 
			ViewRange="0" 
			MoveSpeed="0" 
			AttackSpeed="0" 
			RegenTime="0" 
			Attribute="0" 
			IceRes="0" 
			PoisonRes="0" 
			LightRes="0" 
			FireRes="0" 
			PentagramMainAttrib="0" 
			PentagramAttribPattern="0" 
			PentagramDamageMin="0" 
			PentagramDamageMax="0" 
			PentagramAttackRate="0" 
			PentagramDefenseRate="0" 
			PentagramDefense="0" 
			EliteMonster="0" 
			PunishImmune="0" 
			DamageAbsorption="0" 
			CriticalDamageRes="0" 
			ExcellentDamageRes="0" 
			DebuffApplyRes="0" 
			DamageCorrection="0" 
			ExpLevel="0"
		/>
	</MonsterListMod>
	
</ModEnhancement>
